<html>
	
	<body>

	<div id="ChickenRoad">
		<h2> Why did the chicken cross the road? </h2>
	</div>

	<p> To find a friend. But thanks to Clucker, all that’s in the past. Today, you are just a few keyclicks from finding a companion. </p>


	</body>
</html>
