<html>
	<body>

	<h1 id="Clucker">Clucker</h1>

	<img src = "http://3.bp.blogspot.com/-rHDs-qs4WZI/UxOkU3lPS4I/AAAAAAAAZwE/z-7zioscXtc/s1600/chickenXroad.jpg">

	<h2> Why Did The Chicken Cross The Road? </h2>

	<p> To find a friend. But thanks to Clucker, all that’s in the past. Today, you are just a few keyclicks from finding a companion. </p>

	<p id="Menu">
	<a href = "http://localhost:3000/main/home">Home</a>
	<a href = "http://localhost:3000/main/about">About</a>
	<a href = "http://localhost:3000/main/index">Index</a>
	<a href = "http://localhost:3000/main/team">Team</a>
	<a href = "http://localhost:3000/main/faqs">FAQs</a>
	<a href = "http://localhost:3000/main/contact">Contact</a>
	</p>

	</body>
</html>
