<html>
	
	<body>

	<div id="ChickenRoad">
		<h2> Why did the chicken cross the road? </h2>
	</div>

	</br>
	
	<p> To hang with his peeps. But thanks to Clucker, that’s all in the past. Today, thanks to the miracle of the Interwebs, you are just a few keyclicks from finding a companion. </p>

	</br>

	</body>
</html>
