<html>

	<body>

	<div id="Megaphone">
		<h2> Start cluckin’ </h2>
	</div>

	</br>

	<p> OK, my fine-feathered friend, this is where you make with the tap-tap. But go easy on the word count, OK? You’re not writing <i>War and Peace</i> here. Keep your message to no more than 142 characters. So cluck away. </p>

	<div id = "textarea">
	<form action = "" method = "post" enctype = "multipart/form-data">
		<textarea name = "message" rows = "3" cols = "140" maxlength = "142"> </textarea> <br/>
		<input type = "submit" value = "Go cluck yourself"/>
	</form>
	</div>

	<!-- <div id="textarea_feedback">
	</div>
 -->
	</br>

	</body>

</html>