<html>
	<body>

	<div id="ChickenKeyboard">
		<h2> Talk to us </h2>
	</div>

	</br>

	<p> Just because we chickens don’t have ears doesn’t mean we don’t listen. If you’ve got questions, comments or complaints, send ’em our way. </p>

	<div class = "contact">
	<form action = "" method = "post" enctype = "multipart/form-data">
		<input type = "hidden" name = "action" value = "submit"/> Your name:<br/>
		<input name = "name" type = "text" value = "" size = "30"> 
		<br/> Your email:<br/>
		<input name = "email" type = "text" value = "" size = "30"/> 
		<br/> 
		<br/>
		<p> What the cluck are you? </p>
		<select name = "clucker">
			<option value = "chicken"> Chicken </option>
			<option value = "turkey"> Turkey </option>
			<option value = "prefer"> Prefer not to answer </option>
			</select>
			</br>
			</br>
		What’s on your mind?<br/>
		<textarea name ="message" rows = "7" cols = "30"> </textarea> <br/>
		<input type = "submit" value = "Send email"/>
	</form>
	</div>

	</br>

	</body>
</html>
