<html>
	<body>

	<div id="HotMonkeyLove">
		<h2>Everything you always wanted to know</br>about Clucker but were afraid to ask</h2>
	</div>

	<h3>What is Clucker?</h3>
	<div class = "faq">
	<p>Clucker is an online forum for today’s hip, happening poultry to make a meaningful personal connection. Instead of running around like – you should excuse the expression – a chicken with its head cut off, you can find a compatible match who enjoys the same interests and activities.</p>
	</div>

	<h3>A dating site? For chickens? Seriously?</h3>
	<div class = "faq">
	<p>Hey, pal, chickens need love, too.</p>
	</div>

	<h3>So it’s like eHarmony? And that would make you Dr. Neil Clark Warren?</h3>
	<div class = "faq">
	<p>Neil Cluck Warren is more like it.</p>
	</div>

	<h3>Don’t you ever get tired of the chicken puns?</h3>
	<div class = "faq">
	<p>Who are you, the Humor Police?</p>
	</div>

	<h3>Yes I am. I’m revoking your artistic license and arresting you for crimes against hilarity.</h3>
	<div class ="faq">
	<p>I’ll go quietly.</p>
	</div>

	</body>

</html>