<html>
	<body>

	<h1 id="Clucker">Clucker</h1>

	<img src = "http://i4.mirror.co.uk/incoming/article3054547.ece/alternates/s615b/Monkey-falls-in-love-with-a-chicken.jpg">

	<h2> FAQs </h2>

	<h3> What is Clucker? </h3>
	<p> Clucker is a forum for today’s happening poultry to find a partner. Instead of running around like – you should excuse the expression – a chicken with its head cut off, you can find a compatible match who shares your likes and desires. </p>

	<h3> A dating site? For chickens? Seriously? </h3>
	<p> Hey, pal, chickens need love, too. </p>

	<h3> So it’s like eHarmony? And that would make you Dr. Neil Clark Warren?</h3>
	<p> Neil Cluck Warren is more like it. </p>

	<h3> Don’t you ever get tired of the chicken puns?</h3>
	<p> Who are you, the Humor Police? </p>

	<p id="Menu">
	<a href = "http://localhost:3000/main/home">Home</a>
	<a href = "http://localhost:3000/main/about">About</a>
	<a href = "http://localhost:3000/main/index">Index</a>
	<a href = "http://localhost:3000/main/team">Team</a>
	<a href = "http://localhost:3000/main/faqs">FAQs</a>
	<a href = "http://localhost:3000/main/contact">Contact</a>
	</p>


	</body>
</html>