<html>
	<body>

	<div id = "HomeChicken">
		<h2> Where chickens come home to roost </h2>
	</div>

	</br>
	
	<p> Welcome to Clucker, the Internet’s premiere forum for all things poultry. This is the place where chickens and turkeys ages 18 and up can make a personal connection. <strong>Sorry, no ducks allowed. This site is called Clucker, not Quacker. </strong> </p>

	<ul class = "features">
		<li> Chat </li>
		<li> Connect </li>
		<li> Cluck </li>
	</ul>

	
	</body>
</html>