<html>
	<body>

	<h1 id="Clucker">Clucker</h1>

	<img src = "http://4.bp.blogspot.com/_h405_C2RNpc/TILk1nHxI5I/AAAAAAAAAfE/_y9AoQpUghY/s1600/denisethe%2520chicken.jpg">

	<button> Cluck Here </button>

	<h2> Where Chickens Come Home To Roost </h2>

	<p> Welcome to Clucker, the Internet’s premiere forum for all things poultry. This is the place for chickens and turkeys of all ages can make a personal connection. <strong>Sorry, no ducks allowed. </strong> </p>

	<ul>
		<li> Chat </li>
		<li> Connect </li>
		<li> Cluck </li>
	</ul>

	<p id="Menu">
	<a href = "http://localhost:3000/main/home">Home</a>
	<a href = "http://localhost:3000/main/about">About</a>
	<a href = "http://localhost:3000/main/index">Index</a>
	<a href = "http://localhost:3000/main/team">Team</a>
	<a href = "http://localhost:3000/main/faqs">FAQs</a>
	<a href = "http://localhost:3000/main/contact">Contact</a>
	</p>


	</body>
</html>