<html>
	<body>

	<h1 id="Clucker">Clucker</h1>

	<img src = "http://3.bp.blogspot.com/-JX52DnqDhHE/ToIeoIXLLXI/AAAAAAAAAWc/aQQIM1F5wgU/s640/chicken.jpg">

	<h2> Meet The Bird Brains Behind Clucker </h2>

	<h3> David C. Novak </h3>
	<h4> Chairman and CEO </h4>
	<p> David C. Novak became Chairman of the Board on January 1, 2001, and Chief Executive Officer of Yum! on January 1, 2000. He was also President of Yum! from October 1997 to May 2012. David previously served as Group President and Chief Executive Officer, KFC and Pizza Hut from August 1996 to July 1997, at which time he became acting Vice Chairman of Yum!. He also held senior management positions at Pepsi-Cola Company, including Chief Operating Officer, and Executive Vice President of Marketing and Sales. Novak shapes the Company’s overall strategic direction, including three key strategies: 1) build powerful brands through superior marketing, breakthrough innovation and compelling value with a foundation built on winning food and world class operations; 2) drive aggressive unit expansion everywhere, especially in emerging markets, and build leading brands in every significant category in China and India; and 3) create industry-leading returns through franchising and disciplined use of capital and maximize long-term shareholder value. Additionally, he devotes much of his time each year to personally teach leadership skills to the Company’s management and franchisees, emphasizing teamwork and a belief in people that rewards and recognizes customer-focused behavior. </p>

	<p>Reporting to him are the division Chief Executive Officers of Yum! Restaurants China, KFC, Pizza Hut and Taco Bell, the President of Yum! Restaurants India and senior corporate officers. Novak is on the board of directors of the Yum! Brands Foundation and World Food Program USA. Additionally, he is a member of The Business Council and The American Society for Corporate Executives, while also devoting considerable personal support to the United Nations World Food Programme and Dare to Care Food Bank hunger relief. Novak is the recipient of the 2012 UN World Food Program Leadership Award for Yum! Brands World Hunger Relief effort that raises awareness, volunteerism and funds to address this global problem. He is also the recipient of the national 2008 Woodrow Wilson Award for Corporate Citizenship. </p>

	<h3> Roger Eaton </h3>
	<h4> President </h4>
	<p> Roger Eaton became President of the KFC division on January 1, 2014, while continuing to serve as Chief Operations Officer of Yum!, a position he has held since late 2011. In his new role, Eaton oversees KFC’s business in the Middle East, Thailand, Asia FBU (Franchise Business Unit), Latin America and Caribbean and Canada. He dually reports to Yum! Brands’ Chairman and CEO and KFC’s CEO. Eaton has also served as Chief Executive Officer of KFC U.S. after serving as President of KFC Corporation. He is an international restaurant industry veteran and has been with Yum! Brands for 20 years. Prior to his roles at KFC U.S., Eaton was Chief Operating and Development Officer for Yum! Brands. He has also served as Senior Vice President/Managing Director of Yum! Restaurants International South Pacific (SOPAC). Earlier in his career, he was Regional Operations Director of KFC SOPAC, General Manager of KFC New Zealand and Finance Director of KFC SOPAC. Under his leadership, SOPAC had 27 consecutive quarters of profitable same store sales growth, as well as consistent above target new restaurant builds. </p>

	<p id="Menu">
	<a href = "http://localhost:3000/main/home">Home</a>
	<a href = "http://localhost:3000/main/about">About</a>
	<a href = "http://localhost:3000/main/index">Index</a>
	<a href = "http://localhost:3000/main/team">Team</a>
	<a href = "http://localhost:3000/main/faqs">FAQs</a>
	<a href = "http://localhost:3000/main/contact">Contact</a>
	</p>


	</body>
</html>